[Desktop Entry]
Name=Quake III SMP
Comment=Quake3 for Linux
Comment[pl]=Quake3 dla Linuksa
Exec=quake3-smp
Icon=quake3
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
