[Desktop Entry]
Name=Quake III
Comment=Quake 3 for linux
Comment[pl]=Quake 3 dla Linuksa
Exec=quake3
Icon=quake3.png
Terminal=false
Type=Application
Categories=Game;FirstPersonGame;
Encoding=UTF-8
# vi: encoding=utf-8
